@charset "utf-8";

/* CSS Document */
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MTD Balerno';
    src: url('C:\xampp\htdocs\Website HERA\font-awesome\fonts\._MTD Balerno Regular.otf') format('otf'),
        url('C:\xampp\htdocs\Website HERA\font-awesome\fonts\._MTD Balerno Light.otf') format('otf'),
        url('C:\xampp\htdocs\Website HERA\font-awesome\fonts\._MTD Balerno Bold.otf') format('otf');
}

@font-face {
    font-family: montserrat;
    src: url('../Login/fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: montserrat_L;
    src: url('../Login/fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: quicksand;
    src: url('font-awesome/fonts/quicksand/Quicksand-Regular.ttf');
}

.image-slider {
    display: flex;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: -1;
    transition: all 0.5s;
}

.image-slider img {
    width: 100%;
    height: auto;
    animation: slide 48s infinite; /* 3s cho mỗi ảnh, 3 ảnh nên tổng thời gian là 9s */
}

@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
}

html {
    font-family: 'quicksand';
}

p {
    font-family: 'quicksand';
    font-weight: bold;
}

h6 {
    font-family: 'quicksand';
    font-weight: bold;
}

#logo {
    height: 100px;
    margin-top: 50px;
    background: #f0cfcf;
    background: -webkit-linear-gradient(bottom, #f0cfcf, #ffacc7);
    background: -o-linear-gradient(bottom, #f0cfcf, #ffacc7);
    background: -moz-linear-gradient(bottom, #f0cfcf, #ffacc7);
    background: linear-gradient(bottom, #f0cfcf, #ffacc7);
}

#logo img {
    margin: 5px 5px 5px 0;
    height: 90px;
    float: right;
}

#logo p {
    float: left;
    line-height: 88px;
    padding-left: 200px;
}

#logo p input {
    height: 50px;
    width: 350px;
}

#logo div {
    height: 49px;
    width: 53px;
    float: left;
    font-size: 20px;
    margin-top: 20px;
    background-color: darkgray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 50px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: lavender;
    z-index: 3;

}

#khungdau div {
    float: left;
    line-height: 50px;
    width: 160px;
    text-align: center;
    height: 50px;
<<<<<<< HEAD

=======
    <<<<<<< HEAD=======>>>>>>>95418862838f86ffb88c00878d2d48af5e285460
>>>>>>> 197381142fec8d89f1d08d901c289e48811cc5b9
}

#khungdau div:hover {
    background-color: white;
    cursor: pointer;
}

.MeNu {
    background-color: whitesmoke;
}

#khungdau .DanhMuc:hover li {
    display: block;
}

#khungdau ul li {
    height: 40px;
    display: none;
    float: none;
    clear: both;
    text-decoration: none;
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
    box-shadow: black;
}

<<<<<<< HEAD
.MeNu li {
    width: 100%;

}
.MeNu ul{
    margin-top: 0;
    background: 0%;
}

=======
>>>>>>> 197381142fec8d89f1d08d901c289e48811cc5b9
.MeNu ul {
    margin-top: 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

.MeNu li:hover {
    background-color: rgb(150, 142, 142);
}

.DanhMuc i {
    margin: 10px;
    line-height: 0px;
    font-size: 13px;

}

.DanhMuc ul li {
    display: inline-block;
}

#TaiKhoan:hover ul li {
    display: block;
}

#TaiKhoan ul li:hover {
    background-color: rgb(150, 142, 142);
}

#TaiKhoan ul {
    background-color: whitesmoke;
}

#content {
    width: 80%;
    margin-left: 0 auto;


}

.MeNu2 {
    display: none;
    position: relative;
    left: 230px;
    top: -40px;
}

li:hover .MeNu2 {
    display: block;
    background-color: rgb(241, 212, 212);
}



img {
    height: 300px;
    width: 250px;
    float: left;
    margin: 20px 30px;
    border: white 2px solid;
    text-align: center;
    margin-top: 50px;

}


tr {
    text-align: center;
}

#content a {
    text-decoration: none;
    color: black;
    list-style-type: none;
}

#mini {
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 192, 203, 1.00);
    height: 180px;
    bottom: 10px;
    text-transform: uppercase;

}



#footer {
    float: both;
    background-color: rgb(241, 212, 212);
    clear: both;

}

.chuyen-slide {
    width: 99999999px;
    transition: all 0.5s;

}

.slide {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
    margin: 0;
    padding: 0;
}

.imgSilde {
    width: 960px;
    height: 400px;
    float: left;
    transition: all 0.5s;
}

.dieuhuong {
    position: absolute;
    color: pink;
    font-size: 40px;
    top: 50%;
    padding-left: 20px;
    z-index: 1;
}

.dieuhuong i:last-child {
    position: relative;
    left: 880px;

}

.card-img-top {
    margin: 20px 9px;
}

/*Footer----------------*/
footer {
    background-color: #E6E6FA;
    /* Màu nền cho footer */
    padding: 20px 0;
}

footer {
    position: relative;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
footer .noi-dung {
    margin-right: 30px;
}

footer .noi-dung.about {
    flex: 1;
    min-width: 250px;
    /* Đảm bảo rằng phần này không quá nhỏ trên các màn hình nhỏ */
}

footer .noi-dung.about h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .noi-dung.about h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
}

footer .noi-dung.about p {
    color: black;
}

/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon {
    margin-top: 20px;
    display: flex;
}

.social-icon li {
    list-style: none;
}

.social-icon li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social-icon li a:hover {
    background: #f00;
}

.social-icon li a .fa {
    color: #fff;
    font-size: 20px;
}

/* Duong dan */
.links {
    flex: 1;
    min-width: 150px;
    /* Đảm bảo rằng phần này không quá nhỏ trên các màn hình nhỏ */
}

.links h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.links ul li a:hover {
    color: #fff;
}

/*Thiết Lập Cho Thành Phần Liên Hệ*/
.contact {
    flex: 1;
    min-width: 250px;
    /* Đảm bảo rằng phần này không quá nhỏ trên các màn hình nhỏ */
}

.contact h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.contact h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
}

.info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info li span {
    margin-right: 10px;
    color: #666;
}

.form {
    display: flex;
}

.form__field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.btn-custom {
    color: #2f2626;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid pink;
    font-weight: normal;
    transition: font-weight 0.2s ease;
    background: #f0cfcf;
    background: -webkit-linear-gradient(bottom, #f0cfcf, #ffacc7);
    background: -o-linear-gradient(bottom, #f0cfcf, #ffacc7);
    background: -moz-linear-gradient(bottom, #f0cfcf, #ffacc7);
    background: linear-gradient(bottom, #f0cfcf, #ffacc7);
    

}

.btn-custom:hover {
    font-weight: 500;
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: #53CCEC;
    color: #FFF7D9;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: #000000;
}

.MeNu li {
    width: 100%;
    <<<<<<< HEAD margin-top: -20px;
    =======
}

.MeNu ul {
    margin-top: 0;
    background: 0%;
    >>>>>>>95418862838f86ffb88c00878d2d48af5e285460
}